.calculator-title-wrap {
  padding: 40px 0;
}

.calculator-main-content {
  display: flex;
}

.calculator-result-box {
  margin: auto;
  width: 20%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d8dbe3;
  border-radius: 10px;
  gap: 15px;
}

.calculator-result-box h4 {
  padding: 10px 20px;
}

.res-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.result-btn {
  width: 100%;
  min-height: 60px;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.calculator-service-input h3 {
  margin-bottom: 20px;
}

.services-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 12px;
  justify-content: space-between;
  background: #d8dbe3;
  align-items: center;
  border-radius: 30px;
}

.service-item {
  max-height: 50px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.service-item.active {
  background: #3b82f6;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 200ms;
}

.services-room-nums {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  justify-content: space-between;
}

.room-block {
  max-width: 400px;
}

.options-wrapper {
  display: flex;
  background: #d8dbe3;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  height: 40px;
}

.option-item {
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 10px 15px;
  cursor: pointer;
}

.option-item.active {
  background: #007bff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  transition: 200ms;
}

.small-text {
  font-size: 10px;
  margin-top: 5px;
  display: inline-block;
}

.room-block-wrap {
  display: flex;
  align-items: center;
}

.calculator-checkbox-input {
  margin-top: 30px;
}

.calculator-checkbox-input h4 {
  padding-bottom: 40px;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 12px;
}

.checkbox-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.calculator-contact-input {
  margin-top: 40px;
}

.calculator-contact-input h4 {
  padding-bottom: 40px;
}

.contact-input-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 50px;
  font-size: 14px;
}

.contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item input {
  padding: 10px 5px;
  border: none;
  width: 250px;
  background: #d8dbe3;
  border-radius: 10px;
  margin-top: 5px;
}

.privacy-link {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.privacy-link a {
  text-decoration: underline;
  margin-left: 5px;
}

.service-btn {
  display: flex;
  gap: 20px;
  height: 40px;
  width: 270px;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  background: #3b82f6;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.service-btn img {
  width: 20px;
  height: 20px;
}
.mobile-services-wrapper {
  position: relative;
}

.mobile-services {
  position: absolute;
  z-index: 4;
  width: 270px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #e8eaf0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: 300ms;
}

@media (min-width: 1440px) {
  .services-wrapper {
    font-size: 18px;
  }

  .checkbox-wrapper {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .calculator-main-content {
    flex-direction: column;
  }

  .calculator-result-box {
    width: 50%;
    max-height: 400px;
    margin: 20px auto;
  }

  .contact-input-wrap {
    flex-direction: column;
    align-items: center;
  }

  .privacy-link {
    margin-top: 20px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .calculator-result-box {
    width: 90%;
  }

  .calculator-title-wrap h2 {
    margin-bottom: 20px;
  }

  .calculator-title-wrap span {
    font-size: 12px;
  }
}
