header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 600ms;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease;
}

.menu-item.active span {
  transform: translateY(-5px);
  display: inline-block;
}

.menu-item .dot {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -6px;
  width: 6px;
  height: 6px;
  background: #3b82f6;
  border-radius: 50%;
}

.burger-icon {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-icon img {
  width: 30px;
  height: 30px;
}

/* Mobile styles */
@media (max-width: 1024px) {
  .burger-icon {
    display: flex;
  }

  .header-content {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background: white;
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .header-content.open {
    transform: translateX(0);
    display: flex;
    justify-content: center;
  }

  .burger-icon.open {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .navbar {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .menu {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .menu-item {
    font-size: 36px;
  }

  .btn-header {
    align-self: center;
    margin-top: 20px;
  }

  .menu-item .dot {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 425px) {
  .menu-item {
    font-size: 24px;
  }
}
