.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
}

.main-header img {
  max-width: 40%;
  height: auto;
}

.main-title-block {
  height: 80%;
}

.main-title-block h2 {
  padding: 20px 0 30px 0;
  font-size: 96px;
}

.contacts {
  display: flex;
  padding-top: 20px;
}

.contact {
  display: flex;
  margin-right: 20px;
}

.contact span {
  margin-left: 5px;
  cursor: pointer;
  color: #37474f;
}

.main-content {
  margin: 70px 0;
  text-align: center;
}

.main-content h2 {
  margin-bottom: 70px;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
}

.content-block {
  max-width: 30%;
}

.slider-content {
  text-align: center;
}

.slider-content h2 {
  margin-bottom: 70px;
}

.comment-content {
  margin-top: 70px;
  text-align: center;
}

.comment-content h2 {
  margin-bottom: 70px;
}

.comment-wrap {
  display: flex;
  margin: 150px 0 50px 0;
}

.btns-wrap {
  display: flex;
  justify-content: center;
}

.comments-btn {
  position: relative;
  width: 64px;
  height: 64px;
  background: #d8e6fd;
  border-radius: 50%;
}

.comments-btn img {
  width: 18px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .content-wrap {
    flex-direction: column;
  }

  .content-wrap [class*="box"] {
    margin: 50px auto;
    max-width: 60%;
  }

  .container h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }

  .main-title-block {
    width: 100%;
    text-align: center;
  }

  .main-title-block h2 {
    font-size: 60px;
  }

  .main-title-block .btn {
    width: 300px;
  }

  .contacts {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px 0;
  }

  .contact {
    width: 200px;
    padding: 5px 0;
  }

  .container h2 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .content-wrap [class*="box"] {
    max-width: 90%;
  }
}
