* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.btn {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  padding: 12px 25px;
  background: #3b82f6;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background: #629bf8;
  transition: 200ms;
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

span {
  font-family: "Roboto", sans-serif;
}

.blue-text {
  color: #45506b;
}

.subtitle {
  font-size: 18px;
}

.main-text {
  font-size: 16px;
}
