.slider-wrap {
  max-width: 1500px;
  display: flex;
  gap: 24px;
  padding: 20px;
  flex-wrap: wrap;
}

.slider-wrap-mobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-img img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  transition: transform 500ms ease-in-out;
  opacity: 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  text-align: left;
  justify-content: space-between;
}

.text-block h4 {
  font-size: 36px;
  margin-bottom: 20px;
  opacity: 0;
  color: #45506b;
}

.text-block p {
  font-size: 16px;
  color: #555;
  opacity: 0;
}

.text-paragraph {
  padding-bottom: 10px;
}

.controls-block {
  display: flex;
  align-items: center;
  justify-content: normal;
  gap: 20px;
}

.unactive-slide {
  display: flex;
  gap: 16px;
}

.unactive-slide-mobile {
  display: none;
}

.slide {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 200px;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.slide span {
  position: absolute;
  color: #fff;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.controls .btn {
  width: 100%;
}

.indicator {
  display: flex;
  gap: 20px;
}

.slider-indicator {
  justify-content: space-around;
  width: 80%;
}

.slide-indicator {
  font-size: 24px;
  margin: 10px 0;
  color: #666f86;
}

.slide-img {
  opacity: 0;
  transform: translateX(-100px);
}

.slide-img.slide-in {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-block.slide-in h4,
.text-block.slide-in p {
  animation: textFadeIn 1s forwards;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-out {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out .text-block h4,
.fade-out .text-block p {
  opacity: 0;
}

@media (max-width: 1440px) {
  .main-img img {
    max-width: 350px;
    height: 100%;
  }

  .slide {
    width: 150px;
  }

  .slide img {
    width: 150px;
    height: auto;
  }

  .controls {
    margin-left: 20px;
    max-width: 300px;
  }

  .slider-wrap {
    padding: 10px;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .slider-wrap {
    flex-direction: column;
    padding: 5px;
  }

  .main-img {
    position: relative;
  }

  .main-img img {
    max-width: 350px;
    height: auto;
  }

  .unactive-slide {
    display: none;
  }

  .unactive-slide-mobile {
    display: flex;
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    justify-content: center;
  }

  .slide-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 60px;
  }

  .slide-mobile span {
    font-size: 24px;
  }

  .unactive-slide-mobile .slide-mobile:first-child {
    border-right: 1px solid black;
  }

  .controls-block {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .main-img img {
    max-width: 100%;
  }
}
